#contenedor {
    display: flex;
    border: 5px dotted black;
    padding: 20px;
    border-color:rgb(216, 149, 49);
    background-color: aqua;

}

#contenedor a {
    margin: auto;



}

.caja {
    height: 200px;
    width: 200px;
    margin: auto;
    border: 5px solid black;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    
}



#lunes {
    background-color: aqua;


}

#martes {
    background-color: crimson;
    border-radius: 100%;

}

#miercoles {
    background-color:aqua(62, 192, 215);

}

#contenedor {
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(22, 73, 73)

}
main{
padding top:100px;

}

nav {
    background: linear-gradient(45deg, rgb(154, 111, 118), rgb(140, 88, 57));
    padding: 15px;
    position:fixed;
    top: 10px;


}

nav ul {
   
    display: flex;
    list-style: none;

}

nav ul li {
    margin: auto;
    text-transform: uppercase;
    background-color: rgb(103, 120, 103);
    color: rgb(250, 251, 251);
    padding: 15px;
    border-radius: 7%;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;

}




nav ul li:hover¨ {
    background-color: rgb(112, 118, 21);


}

.submenu {
    display: none;
    position:fixed;




}

.submenu li:hover {
    background: linear-gradient(45deg, rgb(165, 20, 20), rgb(20, 100, 165));
    display:inline-flexbox;

}

.submenu a {
    text-decoration: none;


}

nav ul li:hover ul {
    display: block;

}