#contenedor {
    display: flex;
    border: 5px dotted black;
    padding: 20px;
    border-color:rgb(216, 149, 49);
    background-color: rgb(237, 167, 202);

}

#contenedor a {
    margin: auto;



}

.caja {
    height: 200px;
    width: 200px;
    margin: auto;
    border: 5px solid black;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    
}



#lunes {
    background-color: rgb(215, 121, 227);


}

#martes {
    background-color: rgb(232, 116, 139);

}

#miercoles {
    background-color:aqua(62, 192, 215);

}

#contenedor {
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(22, 73, 73)

}
main{
padding-top:100px;

}

nav {
    background: linear-gradient(45deg, rgb(154, 111, 118), rgb(140, 88, 57));
    padding: 15px;
    position:-webkit-sticky;
    top: 10px;


}

nav ul {
   
    display:flex;
    list-style: none;

}


nav ul li {
    margin: auto;
    text-transform:initial;
    background-color: rgb(202, 238, 197);
    color: rgb(2, 100, 100);
    padding: 15px;
    border-radius: 7%;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;

}

.star{
    position:absolute;
    top: -50px;
    width: 40px;
    height: 40px;
    background-image:url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fdepositphotos.com%2Fes%2Fphotos%2Festrella.html&psig=AOvVaw1tL-AmjJijhLq_RJLxBnAr&ust=1732615395636000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCKjB2b-d94kDFQAAAAAdAAAAABAE );
    background-size: 100%;
    animation:fall linear infinite;
}


@keyframes fall{
    from{
        transfor
        m: translateX(1vh);
    }
to{
    transform:translateY(300vh);
  }    

}



nav ul li:hover¨ {
    background-color: rgb(6, 6, 4);


}

.submenu {
    display: none;
    position:fixed;




}

.submenu li:hover {
    background: linear-gradient(45deg, rgb(165, 20, 20), rgb(20, 100, 165));
    display:inline-flexbox;

}

.submenu a {
    text-decoration: none;


}

nav ul li:hover ul {
    display: block;

}

.button{

color: aqua;

}
