

#contenedor{
display: flex;
border: 5px dotted black;
padding: 20px;

}


.caja{
height: 100px;
width: 100px;
margin: auto;
border: 5px solid black;
border-radius: 20px;
padding: 10px;
text-align:center;
}



#lunes{
background-color: aqua;


}
#martes{
background-color:crimson;
border-radius: 100%;

}

#miercoles{
background-color: chartreuse;

}
#contenedor{
text-decoration: none;
text-transform: uppercase;

}


